.example-icon {
  padding: 0 14px;
}
.example-spacer {
  flex: 1 1 auto;
}

.avatar {
  object-fit: cover;
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid #759ef5;
}
.vl{
  border-left: 1px solid #759ef5;
  margin: 0 5px;
  height: 20px;
}
