<img class="img-fluid bg-primary shadow w-100"
  src="./assets/img/packages.png"
  alt="" srcset="">

<mat-nav-list dense>
  <a mat-list-item  [routerLink]="[ '/stock' ]">
    <span mat-line><span class="mat-h4">Stock</span></span>
    <img matListAvatar
      src="./assets/img/stock.png"
      alt="" srcset="">
  </a>
  <a mat-list-item href="https://www.google.com">
    <span mat-line><span class="mat-h4">Shop</span></span>
    <img matListAvatar
      src="./assets/img/shops.png"
      alt="" srcset="">
  </a>
  <mat-divider class="mt-4"></mat-divider>
  <h3 mat-subheader>Dashboard</h3>
  <a mat-list-item href="https://www.google.com">
    <span mat-line><span class="mat-h4">Summary</span></span>
    <img matListAvatar
      src="./assets/img/text-file.png"
      alt="" srcset="">
  </a>
  <a mat-list-item href="https://www.google.com">
    <span mat-line><span class="mat-h4">Customer</span></span>
    <img matListAvatar
      src="./assets/img/customer-feedback.png"
      alt="" srcset="">
  </a>

</mat-nav-list>
